<div>
    <div class="well flex" *ngFor="let location of locationsList; trackBy: trackByZipCode">
        <div>
            <h3>{{location.name}} ({{location.zipCode}})</h3>
            <h4>Current conditions: {{location.weather}}</h4>
            <h4>Temperatures today:</h4>
            <p>
                Current {{location.currentTemp}}
                - Max {{location.tempMax}}
                - Min {{location.tempMin}}
            </p>
            <p>
                <a [routerLink]="['/forecast', location.zipCode]">Show 5-day forecast for {{location.name}}</a>
            </p>
        </div>
        <div>
            <span class="close" (click)="removeWeatherItem(location.zipCode)">×</span>
            <img [src]=location.imageSrc>
        </div>
    </div>
</div>
